.pagination{
    display: flex;
   
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 5px;
}
.page{
   width: 40px;
   height: 40px;
   font-size: 21px;
    font-weight: bold;
    border: 1px solid var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 700;
    color: var(--dark-color);
}

.previous, .next{
   padding: 5px 7px;
    border: 1px solid var(--gray-color);
    align-items: center;

}
.next{
    border-radius: 0 10px 10px 0;
}
.previous{
    border-radius: 10px 0px 0px 10px;
}